.App {
  text-align: center;
  /* display: flex;
  flex-direction: column;
  flex: 1; */
}

html, body{
  margin: 0;
  padding: 0;
}

.container {
  width: 100% !important;
  padding: 0;
}

.Spacer{
  padding: 20px;
}

#edit{
  display: none;
}

.Header{
  padding: 20px 0px 0px 0px;
}

.Header a:hover {
  text-decoration: none;
}

h1 {
  font-weight: 700 !important;
  font-size: 36px;
  text-shadow: 1px 1px #7bd5ff;
  color: #269 !important;
  margin: 0;
}

.container-center {
  max-width: 80%;
  margin: 0 auto;
}

.container-center h1{
  text-align: center;
}

.Inner-header{
  max-width: 95%;
  margin: 0px auto;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #269 !important;
  margin: 1em auto;
  padding: 0;
}

.login-data {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 5px;
  padding: 5px;
}

.login-name, .login-pass {
  margin: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #336;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.search-drop-down{
  width: 400px;
  margin: 0 auto;
}

.Search{
  display: inline-flex;
  margin: 15px;
}

.Vendor-search{
  margin: 10px auto;
  width: 100% !important;
}

.Vendor-search .form-control{
  width: 100% !important;
}

#Vendor-display{
  font-size: 1.5em;
  display: none;
  width: 450px;
  margin: 0 auto;
  padding: 10px;
  font-weight: bolder;
}

#Dropbox{
  background-color: #EFEFEF;
  display: block;
  width: 450px !important;
  margin: 15px auto;
  margin-bottom: 10px;
  border: 3px #AAA dashed;
  border-radius: 30px;
  display: none;
}

#Dropbox p{
  font-size: 1.5em;
  margin-top: 10px;
}

#Dropbox button{
  font-size: 1.2em;
  margin-top: 10px;
}

#Dropbox span{
  margin-top: 20px;
  font-size: 4em;
  color: #0869cf;
}

#Vendor-list{
  max-width: 1000px;
}

#Vendor-table{
  max-height: 400px !important;
}

#Vendor-table td{
  display: table-cell !important;
  height: 50px !important;
  vertical-align: middle !important;
}

#Vendor-table th{
  z-index: 1;
}

.modal-dialog {
  transform: translate(0, -50%);
  top: 35%;
  margin: 0 auto;
  z-index: 9999 !important;
}

#Confirmation-modal button{
  margin: 10px;
}

.Scrollable{
  overflow-y: auto;
}

.Register-link{
  margin: 10px;
}

.Center{
  margin: 0 auto;
  text-align: center;
}

#Vendor-list #Add-Vendor-Button{
  width: 100%;
}

.Sticky{
  position: sticky;
  top: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.Row{
  display: flex;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.Logdiv button{
  margin-left: 10px;
}

.Logstate{
  line-height: 35px;
  font-size: .8em;
}

.Header{
  background: #e9f0fd; /* Old browsers */
  background: -moz-linear-gradient(top, #e9f0fd 37%, #dce5fc 51%, #f8f9fe 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e9f0fd 37%,#dce5fc 51%,#f8f9fe 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e9f0fd 37%,#dce5fc 51%,#f8f9fe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.Logdiv{
  float: right;
  top: 10px;
}

.active-cyan-4 input[type=text]:focus:not([readonly]) {
  border: 1px solid #4dd0e1;
  box-shadow: 0 0 0 1px #4dd0e1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

label {
  font-size: 1.3em;
}

.vendor-data {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.template-name {
  padding: 20px;
}

.sprocs {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.int-sprocs, .sf-sprocs {
  flex: .5;
  padding: 20px;
}

.setup-required {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.customer-id, .cost-field, .account-name {
  flex: .4;
  padding: 20px;
}

.setup-other {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.integration-id, .type-field {
  flex: .5;
  padding: 20px;
}

.instructions {
  padding: 20px;
}

.vendor-submit {
  padding-left: 20px;
}

#summaryDiv{
  text-align: center;
}
#Info{
  text-shadow: 1px 1px #7bd5ff;
  color: #269 !important;
  border: solid black;
  border-radius: 15px;
}

#Auditee{
  display: inline-block;
  list-style-type: circle;
}

#Money{
  display: inline-block;
  padding-left: 170px;
  list-style-type: none;
}

#Savings{
  text-align: center;
}